<h2>新規投稿</h2>

<div class="d-flex justify-content-center">
  <%= link_to '遊び場', new_play_posts_path, class: 'btn btn-primary mr-3' %>
  <%= link_to '設備', new_facility_posts_path, class: 'btn btn-secondary' %>
</div>