// Place all the styles related to the public/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.search-table th:nth-child(1) {
  width: 10%;
}
.search-table th:nth-child(2) {
  width: 15%;
}
.search-table th:nth-child(3) {
  width: 10%;
}
.search-table th:nth-child(4) {
  width: 20%;
}
.search-table th:nth-child(5) {
  width: 20%;
}
.search-table th:nth-child(6) {
  width: 25%;
}

.index-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}