<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
  <div class="row w-100">
    <div class='mx-auto mb-5 col-11 col-md-10 col-lg-8 text-center'>
      <h1>おやこマップ</h1>
      <p>おやこでのお出かけをサポートします</p>
      <p>お出かけ場所の情報をみなさんで共有しましょう</p>
      <div class="btn-wrapper col-6 mx-auto">
        <div class="row pt-3">
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in w-100" %>
        </div>
        <div class="row">
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
