<div class="container mt-3">
  <h1>投稿一覧</h1>
  <!--絞り込み機能-->
  <%= render 'public/shared/filter', path: admin_root_path %>
  <!--ソート機能-->
  <%= render 'public/shared/posts_sort', path: admin_root_path %>
  <!--一覧テーブル-->
  <%= render 'admin/shared/posts_table', posts: @posts %>
  <div class="row d-flex justify-content-center mb-3">
    <%= paginate @posts %>
  </div>
</div>
