/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
main {
  background-color: #fef4f4;
}
.navbar-toggler {
  z-index: 10; /* ハンバーガーメニューを前面に */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23007b43' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'%2F%3E%3C%2Fsvg%3E") !important;
}


.navbar-custom {
  background-color: #b5edab;
}

.logo {
  width: 120px;
  height: auto;
}

.no-padding {
  padding: 0;
}

.footer-custom {
  background-color: #b5edab;
}

.navbar-custom .nav-link,
.navbar-custom span {
  color:#28a745;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #007b43;
  text-decoration: underline;
}

.nav-link .icon {
  filter: brightness(1);
  transition: filter 0.3s ease;
}

.nav-link:hover .icon {
  filter: brightness(0.7);
}
.nav-item .icon {
  width: 38px;
  height: 38px;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
}

.custom-container-fluid {
  margin-right: 40px;
  margin-left: 40px;
}

/*一覧テーブル*/
.table th:nth-child(1) {
  width: 10%;
}
.table th:nth-child(2) {
  width: 15%;
}
.table th:nth-child(3) {
  width: 10%;
}
.table th:nth-child(4) {
  width: 20%;
}
.table th:nth-child(5) {
  width: 20%;
}
.table th:nth-child(6) {
  width: 25%;
}
.table-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/*投稿詳細*/
.show-image {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.show-map {
  width: 100%;
  height: 400px;
}