  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <div class="form-row align-items-center">
      <div class="col">
        <%= f.text_field :content, placeholder: "キーワードを入力", class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= f.select :model, options_for_select({"投稿" => "post", "ユーザー" => "user"}), class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>